<div class="container-fluid">
    <section class="row about-us">
        <h1>About Us</h1>
        <div class="col-md-6">
            <img class="img-responsive" src="./images/bench.jpg" />
        </div>
        <div class="col-md-6">
            <h2>Vision</h2>
            <p>
                Established in January of 2004, Detroit Barbell is operated by Clay Brandenburg and JJ Thomas. 
                The gym was opened with the intent of bringing together the area's strongest lifters. 
                The gym provides a supportive and educational environment for any serious athlete. 
            </p>
            <h2>Methodology</h2>
            <p>
                With over 20 years of combined experience and knowledge, Detroit Barbell has the ability to take
                your training to the next level. Detroit Barbell's approach to training is based on the Westside Barbell
                Conjugate Training methodology. These methods are used by Detroit Barbell members and have proven success.

            </p>
        </div>
    </section>
    <section class="row our-team">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="./images/Clay_About.jpg" alt="">
            <h3>
                Clay Brandenburg
                <small>Owner</small>
            </h3>
            <p>
                -Trainer/Coach of multiple State/National Record Holders<br/>
                -WPC World and National Champion<br/>
                -4x Arnold Classic Competitor<br/>
                -2nd Place Finish in 2005 Arnold Classic (821 lb Bench Press)<br/>
                -1st Place Finish in 2004 WPO Bench for Cash
            </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="./images/JJ_About.jpg" alt="">
            <h3>
                Jeremy "JJ" Thomas
                <small>Owner</small>
            </h3>
            <p>
                -Here is where you updated accolades will go<br/>
                -Here are where your social media links will go<br/>
                <i class="fa fa-youtube-square fa-2x"></i>
                <span><i class="fa fa-instagram fa-2x"></i></span>
                <span><i class="fa fa-facebook fa-2x"></i></span>
            </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>
                John Smith
                <small>Job Title</small>
            </h3>
            <p>Here we can add additional active DBB Members? Include Instagram, Youtube, FB Athlete Pages etc. Unless we want to keep it to Owners only</p>
        </div>
        <!--<div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>
                John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>
                John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>-->
        <!--<div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>
                John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>-->
    </section>
</div>