<div class="container-fluid">
    <section id="contact" class="row activity-section">
        <h1>Contact Us</h1>
        <div class="activity-element col-md-4">
            <a href="#"><img src="./images/jjdeadlift.jpg" /></a>
            <h2>Jeremy "JJ" Thomas</h2>
            <address>
                <strong>Owner</strong><br>
                <a href="mailto:#">first.last@example.com</a><br/>
                <abbr title="Phone">
                    P:
                </abbr>
                (734) 642-7877
            </address>
        </div>
        <div class="activity-element col-md-4">
            <a href="#"><img src="./images/clay.jpg" /></a>
            <h2>Clay Brandenburg</h2>
            <address>
                <strong>Founder/Owner</strong><br>
                <a href="mailto:harlanbradenburg@yahoo.com">harlanbradenburg@yahoo.com</a><br/>
                <abbr title="Phone">
                    P:
                </abbr>
                (734) 934-6729
            </address>
        </div>
        <div class="activity-element col-md-4">
            <a href="#"><img src="./images/old_englishD.jpg" /></a>
            <h2>John Zemmin</h2>
            <address>
                <strong>Founder/Owner</strong><br>
                <a href="mailto:#">first.last@example.com</a><br />
                <abbr title="Phone">
                    P:
                </abbr>
                (734) 277-0617
            </address>
        </div>
    </section>
    <section class="row location-section">
        <h1 style="background: black; color: white;">Location</h1>
        <div class="col-md-6 google-map">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11826.929358172432!2d-83.2678549!3d42.1774066!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc1479bbfd941908d!2sDetroit+Barbell!5e0!3m2!1sen!2sus!4v1441488999385"></iframe>
            </div>
        </div>
        <div class="col-md-4 location-info">
            <form>
                <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
                <address>
                    <strong>Detroit Barbell Training Facility</strong><br>
                    17608 Telegraph Rd<br>
                    Brownstown Charter Twp, MI 48174<br>
                </address>
            </form>
        </div>
    </section>
</div>
