<div class="container-fluid">
    <section id="contact" class="row activity-section">
        <h1>Contact Us</h1>
        <div class="activity-element col-md-4">
            <a href="#"><img src="./images/jjdeadlift.jpg" /></a>
            <h2>Jeremy "JJ" Thomas</h2>
            <p>Owner</p>
        </div>
        <div class="activity-element col-md-4">
            <a href="#"><img src="./images/clay.jpg" /></a>
            <h2>Clay Brandenburg</h2>
            <p>Founder</p>
        </div>
        <div class="activity-element col-md-4">
            <a href="#"><img src="./images/old_englishD.jpg" /></a>
            <h2>John Zemmin</h2>
            <p>Founder</p>
        </div>
    </section>
</div>
