<div data-ng-controller="RecordBoardController" class="container-fluid" style="background-image: url('../../images/blackboard-background.jpg'); ">
    <h1 class="record-Header">Detroit Barbell All-Time Overall Records</h1>
    <section class="row">
        <div class="col-md-4  record-board">
            <h2>Squat</h2>
            <table id="SquatRecords">
                <thead>
                    <tr>
                        <th>
                            Lifter
                        </th>
                        <th>
                            Male/Female
                        </th>
                        <th>
                            Weight Class
                        </th>
                        <th>
                            Record
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="lifter in squatList">
                        <td>
                            <a>{{lifter.Lifter}}</a>
                        </td>
                        <td>
                            {{lifter.Gender}}
                        </td>
                        <td>
                            {{lifter.WeightClass}}
                        </td>
                        <td>
                            {{lifter.Record}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4  col-md-push-1 record-board">
            <h2>Bench</h2>
            <table id="BenchRecords">
                <thead>
                    <tr>
                        <th>
                            Lifter
                        </th>
                        <th>
                            Male/Female
                        </th>
                        <th>
                            Weight Class
                        </th>
                        <th>
                            Record
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="lifter in benchList">
                        <td>
                            <a>{{lifter.Lifter}}</a>
                        </td>
                        <td>
                            {{lifter.Gender}}
                        </td>
                        <td>
                            {{lifter.WeightClass}}
                        </td>
                        <td>
                            {{lifter.Record}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="row">
        <div class="col-md-4 record-board">
            <h2>Deadlift</h2>
            <table id="DeadliftRecords">
                <thead>
                    <tr>
                        <th>
                            Lifter
                        </th>
                        <th>
                            Male/Female
                        </th>
                        <th>
                            Weight Class
                        </th>
                        <th>
                            Record
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="lifter in deadliftList">
                        <td>
                            <a>{{lifter.Lifter}}</a>
                        </td>
                        <td>
                            {{lifter.Gender}}
                        </td>
                        <td>
                            {{lifter.WeightClass}}
                        </td>
                        <td>
                            {{lifter.Record}}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-md-push-1 record-board">
            <h2>Total</h2>
            <table id="TotalRecords">
                <thead>
                    <tr>
                        <th>
                            Lifter
                        </th>
                        <th>
                            Male/Female
                        </th>
                        <th>
                            Weight Class
                        </th>
                        <th>
                            Record
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="lifter in totalList">
                        <td>
                            <a>{{lifter.Lifter}}</a>
                        </td>
                        <td>
                            {{lifter.Gender}}
                        </td>
                        <td>
                            {{lifter.WeightClass}}
                        </td>
                        <td>
                            {{lifter.Record}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
