<div data-ng-controller="RecordBoardController" class="container-fluid">
    <section class="row record-board">
        <h1>Detroit Barbell All-Time Overall Records</h1>
        <h2>Squat</h2>
        <table id="recordboard" style="font-family: eraserregular;">
            <thead>
                <tr>
                    <th>
                        Lifter
                    </th>
                    <th>
                        Male/Female
                    </th>
                    <th>
                        Weight Class
                    </th>
                    <th>
                        Record
                    </th>
                    <th>
                        Raw/Equipped
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="lifter in squatList">
                    <td>
                        {{lifter.Lifter}}
                    </td>
                    <td>
                        {{lifter.Gender}}
                    </td>
                    <td>
                        {{lifter.WeightClass}}
                    </td>
                    <td>
                        {{lifter.Record}}
                    </td>
                    <td>
                        {{lifter.RawOrEquipped}}
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
